<div class="page work">
    <a name="work"></a>
    <div class="page__inner">
        <h2>What Does My Work Look Like?</h2>
        <div class="timeline__container">
            <ul>
                {{#each projects as |project|}}
                    <li class="timeline__item">
                        <span class="timeline__itemTitle">{{project.title}}</span>

                        <div class="timeline__itemMeta">
                            <h2>{{project.title}}</h2>
                            <p><img src="{{project.featuredImage}}" alt="{{project.title}}"/>
                            {{project.description}}</p>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>