<div class="page work" id="work">
    <a name="work"></a>
    <div class="page__inner">
        <h2>What Does My Work Look Like?</h2>
        <div class="timeline__container">
            <ul>
                <li class="timeline__item">
                    <span class="timeline__itemHeading">WORK</span>
                </li>
                {{#each projects as |project|}}
                    <li class="timeline__item" {{action setCurrentProject project.id}} data-projectID="{{project.id}}" style="background-image: url({{project.featuredImage}});">
                        <a href="#">
                            <span class="timeline__itemTitle">{{project.title}}</span>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>

    <!-- Display full resume here ?-->

    <!-- Project-post-->
    {{#if showProjectDetail}}
        <div class="projectPost">
            <div class="projectPost__inner">
                <div class="projectPost--close" {{action toggleDetail}}></div>
                <div class="projectPost__details">
                    <h1 class="animated flipInY">{{currentProject.title}} {{currentProject.id}}</h1>
                    <p class="animated flipInX">{{currentProject.description}}</p>

                    <div class="screenshot__wrapper animated fadeInUp">
                        {{#each currentProject.screenshots as |shot|}}
                            <div class="screenshot__group" style="background-image: url({{shot.path}});">
                                <div class="screenshot__group__inner">
                                    <h2 class="animated fadeInLeftBig">{{shot.title}}</h2>
                                    <ul>
                                    {{#each shot.features as |feature|}}
                                        <li title="{{feature.subDescription}}">{{feature.description}}</li>
                                    {{/each}}
                                    </ul>
                                    <p class="animated fadeInRightBig">{{{shot.description}}}</p>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</div>